*{
box-sizing: border-box;
margin:0;
padding:0;
}
body{
background-color:#222;
font-weight: 400;
font-family: 'Bitter', serif;
letter-spacing:1px;
color:#f5f5f5;
}
a{
  color:#FFF;
}
#container{
width:768px;
margin:0 auto;
padding:30px 0 30px 0;
}
.clear{
clear:both;
}
h3{
font-size:22px;
border-top:1px solid #f5f5f5;
padding-top:1px;
width:100%;
}
p{
line-height: 23px;
}
#header{
width:100%;
margin-bottom:40px;
}
#header #name{
float:left;
}
#header #contact{
float:right;
}
#header #name p{
font-size:15px;
}
#header #contact a i{
text-decoration:none;
color:#f5f5f5;
font-size:28px;
padding-top:5px;
padding-left: 3px;
}
section#work, section#education{
margin-top:40px;
}
#skills ul{
padding-left:0;
text-align:left;
margin-top:20px;
}
#skills ul li{
font-size:15px;
text-decoration: none;
display: inline-block;
padding:0 7px 0 0;
line-height:27px;
text-align:left;
}
#work, #education{
margin-top:20px;
}
.work-experience{
margin:20px 0 0 0;
}
.work-experience#margin-top{
margin-top:40px;
}
.job-name{
float:left;
}
.job-name p{
width:100%;
text-align:left;
font-size:15px;
}
.job-name p:nth-child(1){
font-size:17px;
}
.job-time{
float:right;
}
.job-time p{
font-size:15px;
}
.job-roles{
margin-top:20px;
}
.job-roles p{
line-height: 23px;
font-size:15px;
}
.college-name{
margin-top:20px;
}
.college-name p:nth-child(2n){
font-size:15px;
}
#reference{
width:100%;
padding:20px;
margin-top:30px;
}
#reference p{
font-size:14px;
text-align: center;
}

@media screen and (max-width:768px) {
#container{
width:100%;
padding:20px;
margin:0;
}
h3{
padding-top:0;
}
.job-name,.job-time{
float:none;
}
#header{
margin-bottom:20px;
}
section#work, section#education{
margin-top:20px;
}
.work-experience#margin-top{
margin-top:20px;
}
#reference{
margin-top:0;
padding-bottom:0;
}
#reference p{
font-size:12px;
}
}
